.form {
  position: relative;
  &__input {
    padding: 10px 20px 10px 40px;
    border-radius: 10px;
    background: #f9fbff;
    border: none;

    &::placeholder {
      color: #b5b7c0;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: -0.12px;
    }
  }

  &__icon {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 8px;
  }
}
