:root {
  --primary-color: #5932ea;
  --secondary-color: #16c098;
  --text-primary-color: #292d32;
  --text-secondary-color: #757575;
  --background-color: #fafafa;
  --sidebar-background-color: #fff;
  --sidebar-box-shadow: rgba(226, 236, 249, 0.5);
  --menu-icon-fill: red;
  --menu-icon-stroke: #666;
}
